<div class="container">
  <div class="row"  style="margin:5% 15%">
    <!-- 1st row verticaly centered text in the square columns -->
    <div class="col-md-3"><h4 class="moves_time"> Moves : {{main.moves}}</h4></div>
    <div class="col-md-6">
      <button ng-disabled="!main.enableStartButton" ng-click="main.start();" type="button" class="btn btn-primary btn-block btn-lg">{{main.btnText}}</button>
    </div>
    <div class="col-md-3"><h4 class="moves_time"> Time : {{main.time}}</h4></div>
    <div class="col-md-12">
      <div class="square" ng-repeat="card in main.cards track by $index"
      ng-click="main.cardClick(card)"
      ng-class="card.state">
          <div class="content" style="background:{{card.color}}">
          </div>
      </div>
    </div>
    <div class="col-md-12" style="color: green;">
      {{main.message}}
    </div>
  </div>
</div>
